html {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}

.raw {
  height: 35rem;
  overflow: visible;
}

.container-one {
  height: 34rem;
  width: 22rem;
  display: inline-block;
  overflow: auto;
}

#one-player, #two-player, #reset {
  height: 3rem;
  width: 9rem;
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
  /*border: solid magenta;*/
  background-color: magenta;
}

#one-player:hover, #two-player:hover, #reset:hover {
  background-color: pink;
}

#reset {
  width: 12rem;
  margin-left: 3rem;
}

#tic-tac-toe {
  height: 34rem;
  width: 36rem;
  overflow: auto;
  display: inline-block;
}

.celt {
  height: 10rem;
  width: 10rem;
  display: inline-flex;
  border: solid blue;
  font-size: 6rem;
  align: center;
  background-color: white;
  color: gray;
}

.animal:hover { border: solid .6rem orange; }
.celt:hover { background-color: #4e2753; }
.o { background-color: green; }
.x { background-color: red; }

#new-game {
  font-family:Arial, Helvetica, sans-serif;
  font-size:2rem;
  outline:none;
  width:16rem;
  height: 4rem;
  font-family: 'Indie Flower', cursive;
  background-color: magenta;
}

.new-game-container {
  margin: auto;
  width: 16rem;
  overflow: auto;
}

.player-container {
  width: 20rem;
  margin-bottom: 0.6rem;
}

#emojis{
  width: 20rem;
  display: inline-block;
}

.animal{
    height: 6rem;
    width: 6rem;
    display: inline-flex;
    border: solid #32ff32;
    font-size: 4rem;
    align: center;
    background-color: white;
    border-radius: 25px;

}

.container-three {
  width: 20rem;
  height: 34rem;
  display: inline-block;
  border: solid yellow;
  overflow: auto;
}

.players {
  height: 10rem;
  font-size: 6rem
}

.reset {

}
