html {

}

.raw {
  height: 35rem;
  border: solid orange;
  overflow: auto;
}

.container-one {
  width: 22rem;
  display: inline-block;
  border: solid red;
  overflow: auto;

}

#tic-tac-toe {
  height: 34rem;
  border: solid red;
  width: 36rem;
  overflow:auto;
  display: inline-block;

}

.celt {
  height: 10rem;
  width: 10rem;
  display: inline-flex;
  border: solid blue;
  font-size: 6rem;
  align: center;
  background-color: white;
  color: gray;
}


.animal:hover { border: solid .6rem orange; }

.celt:hover { background-color: #4e2753; }
.o { background-color: green; }
.x { background-color: red; }

#new-game {
  color:green;
  font-family:Arial, Helvetica, sans-serif;
  font-size:2rem;
  outline:none;
  width:16rem;
  height: 4rem;
}

.new-game-container {
  margin: auto;
  width: 16rem;
  border: solid blue;
  overflow: auto;
}

#emojis{
  border: solid yellow;
  width: 20rem;
  display: inline-block;

}

.animal{
    height: 6rem;
    width: 6rem;
    display: inline-flex;
    border: solid blue;
    font-size: 4rem;
    align: center;
    background-color: white;
    color: gray;
}



.player-container {
  border: solid black;
  width: 20rem;
  float: left;
}

.container-three {
  border: solid purple;
  width: 20rem;
  display: inline-block;
  height: 30rem;
  display: inline-block;
}
